:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(124, 36, 196);
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: currentColor;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  padding: 70px;
}

.question-container {
  height: 120px;
}

#answer-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 15px;
}

.btn {
  width: 100%;
  height: 100%;
  font-size: 1rem;
}
.begin-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  background-color: green;
}

.hide {
  display: none;
}
.flex {
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  color: white;
  text-transform: uppercase;
  padding: 1px;
  font-family: "Raleway", cursive;
  font-weight: 100;
  position: relative;
  background: linear-gradient(to right, black, #eee, black);
}
h1::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -50px;
  width: 600px;
  margin-left: -300px;
  margin-top: -220px;
  height: 600px;
  background: radial-gradient(50% 50%, ellipse closest-side, #444, black);
  z-index: -1;
}
h1 a {
  background: black;
  display: block;
  padding: 20px;
  text-decoration: none;
  letter-spacing: 30px;
  color: white;
}

.bottom {
  color: antiquewhite;
  font-family: "Aclonica";
  font-size: 22px;
}

#questions {
  color: antiquewhite;
  font-family: "Aclonica";
  font-size: 22px;
}

#next-btn {
  background-color: green;
}
